@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.divbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.cartCardStyle {
  font-family: 'Roboto';
  display : block;
  padding-top: 5%;
  padding-left: auto ;
  padding-bottom: auto;
  border-style: double;
  margin: auto;
  text-align: center;
}
.cardDeckStyle{
  display: flex;
  flex-direction : row;
}
.cardStyle {
  flex: 1;
}
.ReactModalPortal > div {
  opacity: 0;
 
 }
 
 .ReactModalPortal .ReactModal__Overlay{
     align-items: center;
     display: flex;
     justify-content: center;
     transition: opacity 200ms ease-in-out;
 }
 
 .ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
 }
 
 .ReactModalPortal .ReactModal__Overlay--before-close {
     opacity: 0;
  }
 
 .modal {
     background: #464b5e;
     color : white;
     max-width: 30rem;
     outline: none;
     padding:3.2rem;;
     text-align: center;
 }
 
 .modal__title {
     margin : 0 0 1.6rem 0;
 }
 
 .modal__body{
     font-size: 2rem;
     font-weight: 300;
     margin : 0 0 4.8rem 0;
     word-break: break-all;
 }